/*CSS Style Document*/

p{
	color:red;
}

.byline{

	font-family: impact;
	color: green;
	font-size: 40px;
}

.list-title{
	background-color: yellow;
}

.outlier{
		color: purple;
}

img{
	height:200px;
	width: 300px;
}

.coolio{
	height: 800px;
	width: 1200px;
}

.rza{
	height: 100px;
	width: 150px;
}

ul{
	list-style-type: square;
}

h1{
	font-family: "Helvetica Neue", sans-serif;
}

li{
	background-color: yellow;
}

.test-list {
	background-color: yellow;
}